       <footer class="copy-right">
            <div class="site-map d-flex flex-wrap flex-lg-nowrap justify-content-between mt-2 text-white">
                <ul>
                    <a href="#"><li><h6>General</h6></li></a>
                    <a href="#"><li>Get Started</li></a>
                    <a href="#"><li>Help Center</li></a>
                    <a href="#"><li>Submit Feedback</li></a>
                </ul>
                <ul>
                    <a href="#"><li><h6>About</h6></li></a>
                    <a href="#"><li>About Us</li></a>
                </ul>
                <ul>
                    <a href="#"><li><h6>Career</h6></li></a>
                    <a href="#"><li>Why Us?</li></a>
                    <a href="#"><li>Opportunities</li></a>
                </ul>
                <ul>
                    <a href="#"><li><h6>Legal</h6></li></a>
                    <a href="#"><li>Cookies, Terms, & Privacy</li></a>
                </ul>
                <ul class="list-style-none">
                    <li><h6>Stay Connected</h6></li>
                    <div class="d-flex mt-md-3 ">
                        <div class="d-flex flex-wrap d-lg-block ">
                            <a href="#"><li class="pe-5 pb-3"> <img src="/insta.png" alt="instagram-logo" style="width:30px;"> Instagram</li></a>
                            <a href="#"><li class="pe-5"><img src="/facebook.png" alt="facebook-logo" style="width:30px;"> Facebook</li></a>
                        </div>
                        <div class="d-flex flex-wrap d-lg-block ">
                            <a href="#"><li class="pe-5 pb-3"> <img src="/linkedin.png" alt="linkedin-logo" style="width:30px;"> LinkedIn</li></a>
                            <a href="#"><li class="pe-5"><img src="/twitter.png" alt="twitter-logo" style="width:30px;">  Twitter</li></a>
                        </div>
                    </div>
                </ul>
            </div>
            <p class="pt-2" style="font-size: 14px">&copy;2022. Condo Management Solutions Inc. All rights reserved.</p>
        </footer> 
  
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>   
        <script src='/Script/warnings.js'></script>
        <script src="https://kit.fontawesome.com/906eb8b0fb.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="/Script/weather.js"></script>
    
    </body>
     
</html>