<%- include('../partials/header.ejs')%>
<%- include('../partials/content-dir.ejs')%>

<!------------------------------------------------->
<div class="content-container">
    <div class="msg">
        <div class="d-flex align-items-center justify-content-center">
            <img src="checkmark.png" alt="">
            <h3>Message Sent! </h3>
        </div>
        <br>
        <div class="d-flex align-items-center justify-content-center text-center">
            <p>Your message has been received. We will try to get back to you within the next 48 hours. Thank you for your patience.<br><br> For more inquiries please contact us at 1800-800-8000 or send us an email at managementoffice@cms.ca.</p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="/" class="btn btn-warning">Continue</a>
        </div>
        
    </div>
    

    
</div>
<!------------------------------------------------->

<%- include('../partials/footer.ejs')%>

</div>