<%- include('../partials/header.ejs')%>
<%- include('../partials/content-dir.ejs')%>

<!------------------------------------------------->
<div class="content-container">
    <div class="mb-4 px-5 col-md-10 py-3 moving rounded-3 shadow mx-auto"></div>  
    <div class="mt-4 col-md-10 text-dark bg-gradient bg-light shadow  elevator-bg rounded-3 d-xl-flex d-lg-block  mx-auto animate__animated animate__fadeInUp">     
        <div class="py-4 px-5 ">
            <h3>Reserving an Elevator</h3>
            <img class="rounded-3 elevator-img" src="./elevator.jpg" alt="">
        </div>
        <div class="py-4 px-5 ">
            <p>Whether you are joining our thriving and dynamic community or on your way to start a new chapter in your life, we are here to help you make the transition as easy and effortless as possible. To make an elevator booking, please fill out the application by clicking the button below, or requesting a reservation with the building management team at 1800-800-8000.</p> 
            <a href="/elevatorbooking" class="btn btn-warning btn-lg shadow" >Book Elevator</a>
        </div>      
    </div>
    
</div>
<!------------------------------------------------->

<%- include('../partials/footer.ejs')%>
</div>